.brewery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 300px;

    text-transform: uppercase;

    background-color: #FFEBCD;

    transition: 0.4s;
    &:hover {
        background: #F5F5F5
    }


    a {
        text-decoration: none;
        color: black;
    }
}