.brewery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 300px;

    text-transform: uppercase;

    background-color: #F5F5F5;

    border: 1px solid #F5F5F5;

    transition: 0.4s;
    &:hover {
        border: 1px solid #524a47;

    }


    a {
        text-decoration: none;
        color: #524a47;

        h1 {
            text-transform: none;
        }
    }

}